body{
    padding: 0;
    margin: 0;
    font-family: 'san-serif', Courier, monospace;
 
}
header h1 {
    display: inline;
    position: relative;
    padding-left: 7%;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1em;
}
header p{
    font-family:sans-serif;
    position: relative;
    padding-left: 7%;
    }
header img{
    width: 45px;
    height: 45px; 
    position: absolute;
    padding-right:25px;
    margin: 0;
    padding: 0;
}
header{
    padding: 0 100px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    transition: .5s;
}
section header{
    position: relative;
    width: 100%;
    height: 70vh;
    background: url(/images/office.jpeg);
    background-position: centerc center;
}
ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
    transition: .5s;
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    transition: 0.5s;
}
ul li a:hover{
    background: #000;
    color: #fff;
    border-radius: 5%;
}

.toggle{
    display: none;
    position: absolute;
    right: 10px;
    top: 26px;
    background: rgb(151, 55, 31);
    color: #fff;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10%;
}
@media (max-width:770px) {
    header h1{
        visibility: hidden;
    }
    header p{
        visibility: hidden;
    }
}
@media (max-width:960px){
    .toggle{
        display: block;
    }
    header{
        padding: 0 0;
        background: rgba(145, 13, 13, 0.5);
    }
    header ul {
        width: 100%;
        
        display: none;
    }
    
    header ul.active {
        display: block;
    }
    header ul li a {
        margin: 0;
        display: block;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0 , .5);
    }
}
.items {
    display: flex;
    flex-wrap: wrap;
    min-width: 339px;
}
 .item {
     display: flex;
     padding: 30px;
     
 }
 .item span {
     padding: 0;
     margin: 0;
    
 }
.item a img {
    width: 230px;
    height: 230px;

}
.item h4 {
    color: #e42525;
    text-align: center;
    box-shadow: 0 5px 15px rgba(158, 157, 82, 0.822);
    border-radius: 20%;
    font-family: sans-serif;
    font-weight: bold;
    font-style: oblique;
    padding: 0;
    margin: 0;
}
.item h3 {
    font-family: sans-serif;
    font-size: 1em;
}
.item h5, label{
    font-family: sans-serif;
    color: #4b4040;
}
.item button {
    margin-top:25px;
    margin-left: 20px;
    padding: 5px 35px 5px 35px;
    color: red;
    background-color: rgba(175, 150, 150, 0.5);
    box-shadow: 0 5px 15px rgba(90, 187, 119, 0.822);
    cursor: pointer;
    border-radius: 10%;
}
.item a img:hover {
    border-bottom: 2px groove rgba(1, 1, 1, .1);
    transform: scale3d(1.3,1.3,1.3);
    border-radius: 30%;
    transition: .5s;
}
.item button:hover{
    transform: scale3d(1.1,1.1,1.1);
    transition: .2s;
}
/*-------
main article {
padding:0;
margin: 0;
line-height: 1.5em;
font-family: sans-serif;
}
::content {
    position: absolute;
}
section.aside{
    list-style-type: none;
    font-family: sans-serif;
    width: 30%;
    height: 100%;
    margin: 20px;
    padding: 10px;
    position: absolute;
}
.aside p {
    color:rgb(75, 73, 77);
}
.aside div {
    padding-bottom: 100px;
}
.aside div p{
    color:rgb(75, 73, 77);
}
section.main-data{
    width: 70%;
    margin-left: 30%;
    position: absolute;
    padding-left: 40px;
    margin-right: 250px;
}
section p {
    color:rgb(75, 73, 77);
}
.icon img{
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    position: relative;
}
footer {
    
}
*/