body {
    font-family: 'source sans pro' , sans-serif;
    line-height: 1.5;
    background: #f2f2f2;
    color: #323232;
}
img.me {
    max-width: 100%;
    border-radius: 50%
}
.icon {
    width: 30px;
    height: 30px;
    fill: currentColor;
    display: inline-block;
    text-align: center;
    font-size: inherit;
    height: 1 em;
    overflow: visible;
}
a {
    color: #323232;
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
}
.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: none;
}
.section:last-child {
    border-bottom: none;
}
.section-title {
font-weight: bold;
font-size: 18px;
}
img.me {
    width: 130px;
    height: 160px;
}
.my-name {
    font-size: 48px;
    line-height: 1;
    color: rgb(97, 129, 233);
}
.my-name:hover {
    font-family: fantasy;
    color: rgb(25, 221, 156);
}
.my-title {
    font-size: 24px;
    font-size: 300;
    color: #e66464;
}
.links {
    display: flex;
    margin: 10px 0 20px 0;

}
.link-item {
    display: flex;
    align-items: center;
    flex: 1;
}
.link-item svg {
    margin-right: 6px;
}
.job {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid lightgray;
}
.job:last-child {
    border-bottom: none;

}
.job-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 18px;
}
.job-company {
    font-weight: bold;
    line-height: 1.2;
}
.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 24px;
}
.skills-container {
    margin-left: 20px;
    list-style-type: disc;

}
.interest-container {
    display: flex;
    justify-content: space-between; 
}
.interest-container img {
    height: 35px;
    opacity: 0.75;
}
.refrences {
    font-size: 18px;
}
.reference-details {
    margin-bottom: 20px;
}
footer {
    text-align: center;
    color: #e66464;
}
@media only screen and (max-width:768px){
    section {
        grid-template-columns: 1fr;
    }
    .links, .job-title-container {
        flex-direction: column;
    }
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
    .interests-container{
        flex-wrap:wrap;
    }
    .interests-container img{
        margin-right: 32px;
        margin-bottom: 16px;
    }
    
}
